.header__logo {
    margin: 0;
    width: 142px;
    height: 33px;
    opacity: 1;
    transition: all 0.5s ease;
}

.header__logo:hover {
    opacity: 0.5;
}

@media screen and (max-width: 500px) {
    .header__logo {
        width: 104px;
        height: auto;
    }
}